<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>N-Capas Parcial No 2</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">N-Capas</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active">
              	<a th:href="@{/index}">Inicio</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Listado de libros.</h1>
        <table class="table table-condensed">
        	<thead>
        		<tr>
        			<th>Título</th>
        			<th>Autor</th>
        			<th>ISBN</th>
        			<th>Categoría</th>
        			<th>Fecha de ingreso</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr th:each="l : ${libros}">
        			<td th:text="${l.stitulo}"></td>
        			<td th:text="${l.sautor}"></td>
        			<td th:text="${l.isbn}"></td>
        			<td th:text="${l.categoria.scategoria}"></td>
        			<td th:text="${l.fingresoDelegate}"></td>
        		</tr>
        	</tbody>
        </table>
      </div>
</div>

</body>
</html>